<html>
<head>
    <title>Добро пожаловать в To do!</title>
    
    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" href="~/css/light-theme.css" id="theme-link"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    
</head>
<body>
    <div>

        <div class="div-title">
            <p>
                <b>Добро пожаловать!</b>
            </p>
            @*<button class="btn-toggle">Переключатель тёмной темы</button>*@
        </div>

        <div class="div-info">
            <img src="images/backLogin.png" alt="image" align="left" class="img-style"/>

            <img src="images/backLogin1.png" alt="image" align="right" class="img-style"/>
            <p>
                To do поможет вам создавать и контролировать задачи.
            </p>
            <button class="btn-start" onclick="window.location.href='login';">
                Начать работу
            </button>
        </div>
    </div>
    <div class="footer">
        <p>Info</p>
    </div>
    @*<script async src="~/js/ChangeTheme.js"></script>*@
</body>
</html>