body {
    background-color: black;
    color: lightgray;
}


.btn-start {
    background-color: cyan;
    border-color: darkcyan;
}


.footer {
    background-color: #00b6ff;
    color: #fafaff;
}


