body {
    background-color: white;
    color: black;
}


.btn-start {
    background-color: aqua;
    border-color: #25a2a2;
}


.footer {
    background-color: #00b6ff;
    color: #fafaff;
}

.input-login {
    border-color: cornflowerblue;
}
