body {
    background-color: white;
    color: black;
}


.btn-start {
    background-color: aqua;
    border-color: #25a2a2;
}


.footer {
    background-color: #4ccbff;
    color: #fafaff;
}

.input-login {
    border:2px groove black;
}
